body{
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  color: black;
}

.header--wrapper{
  border-style: solid;
  border-color: red;
  border-width: 3px;

}
.questionsWrapper{
  max-width: 955px;
  margin:auto;
}

h1 h2 p{
  color:black;
}